* {
    box-sizing: border-box;
}

body {
    padding: 0 50px;
    font-family: sans-serif;
    background-image: url(images/background.jpg);
}

.galleryHead h3{
    font-family: 'Fredericka the Great', cursive;;
    font-size: 6em;
    text-align: center;
    font-weight: normal;
}

.close {
    background: none;
    color: white;
    border: 0;
    padding:10px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Open Sans Condensed', sans-serif;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(21,300px);
    justify-items: center;
    }

.gallery-item{
    width: 1fr;
    height:1fr;
}

.gallery  img{
    width: 100%;
    height:100%;
    object-fit: cover;
    margin: 5px;
}

.item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    background-color: white;
}

.item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    transform: translateY(100%);
}

.item__overlay button {
    background: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.item:hover .item__overlay {
    transform: translateY(0);
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;  
}

.overlay-inner {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.overlay img {
    display: block;
    margin: 0 auto;
    height: 550px;
    width: auto;
}

.top{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: black;
    padding: 10px;
    text-decoration-line: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .overlay img {
        display: block;
        margin: 0 auto;
        height: 300px;
        width: auto;
    }
  }