*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-image: url(background.jpg)
}

#header{
    margin: auto;
}

#finally{
    margin: 0;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 8.5vw;
}


.navBar{
    font-family: 'Niconne', cursive;
    font-size: 3vw;
    list-style: none;
    display: flex;
}

.navBar li{
    padding-right: 20px;
}

#story{
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#storySection{
    background-color: #f8f3e6;
    width: 75%;
    height: auto;
    }

#detailsSection{
    background-color: #f8f3e6;
    width: 75%;
    height: auto;
}

#rsvpSection{
    background-color: #f8f3e6;
    width: 75%;
    height: auto;
}
    
#registrySection{
    background-color: #f8f3e6;
    width: 75%;
    height: auto;
}