*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-image: url(background.jpg);
    flex-direction: column;
    margin-bottom: 200px;
}

#header{
    margin: auto;

}

#finally{
    margin: 0;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 8.5vw;
}


.navBar{
    font-family: 'Niconne', cursive;
    font-size: 3vw;
    list-style: none;
    display: flex;
}

.navBar li{
    padding-right: 20px;
}


#mainPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 992px) {
    #mainPhoto img {
      width: 200px;
    }
    .navBar{
        font-size: 5vw;
    }
    .section{
        width: auto;
    }
  }

  #johnsarah{
      z-index: 1;
      font-size: 5vw;
      text-align: center;
      font-family: 'Open Sans Condensed', cursive;
  }

.section{
    display: flex;
    flex-direction: column;
    margin: 0 4em;
    align-items: center;
    justify-content: center;
}

#storySection{
    width: 900px;
    background-color: #f3f3f3;
    box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.82);
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 50px;
    }

    #story {
        margin: 0;
        text-align: center;
        font-family: 'Fredericka the Great', cursive;
        font-size: 4vw;
    }

    .storyText {
        font-size: 2vw;
        text-align: justify;
        margin: 10px 130px;
        text-indent: 20px;
    }

#detailsSection{
    background-color: #f3f3f3;
    box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.82);
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin-top: 100px;
}

#cereAndRecep{
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4vw;
}

#louland{
    justify-content: center;
    align-items: center;
}

#detailsSection img{
    width: 75%;
}

#directions{
    margin: 10px 0;
}

#address p{
    font-size: 2vw;
    padding: 5px;
}

#directions ul{
    font-size: 1.5vw;
    list-style-type: none; 
}

#rsvpSection{
    background-color: #f3f3f3;
    box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.82);
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin-top: 100px;
}
#RSVP{
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4vw;

}
    
#registrySection{
    background-color: #f8f3e6;
    width: 90%;
    height: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    text-align: center;
}

form{
    margin-bottom: 100px;
}

form p{
    font-size: 2vw;
}



button {
    color: #666;
    background-color: #da9c89;
    border: none;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    padding: 15px 32px;
    width: 200px;
    margin: 20px auto 0px auto; 
  }
  
  button.accept {
    border-radius: 0px 0px 0px 10px;
    border-right: solid 1px #cc919a;
  }
  
  button.regret {
    border-radius: 0px 0px 10px 0px;
  }
  
  button:hover {
    background-color: #b6e094;
    transition: .5s;
  }
  
  button:focus {
    outline: 0;
  }

  #rsvpSection {
    font-size: 1.5vw;
}

#rsvpSection input{
    margin: 10px 20px;
}

textarea{
    padding: 5px;
}